* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 75px;
  border-bottom: 1.5px solid #bbb;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 55px;
}

.nav {
  display: flex;
  gap: 1rem;
}

.navlink {
  text-decoration: none;
  color: #3f6cff;
  font-size: 0.9833rem;
}

.navlink.active {
  text-decoration: underline;
}

.navlink:last-child {
  border-left: 2px solid rgb(38, 35, 35);
  padding-left: 10px;
}
