table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #ddd;
}

th {
  font-weight: bold;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.name {
  width: 6rem;
}

.btn-group {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.active-member {
  background: hsl(205, 74%, 60%);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.135rem;
}

.not-member {
  background: #696969;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.135rem;
}

.leave-mission {
  background: none;
  border: 1px solid #ff0800;
  border-radius: 3px;
  padding: 0.433rem;
  color: #ff0800;
}

.join-mission {
  background: none;
  border: 1px solid #696969;
  border-radius: 3px;
  padding: 0.433rem;
  color: #696969;
}